body {
  background-color: rgb(36, 38, 39);
  color: white;
  font-family: monospace;
}

/* ///////////////
/////HEADER//////
//////////////// */
nav {
  display: flex;
  height: 2.5em;
  background-color: rgba(255, 173, 79, 0.705);
  justify-content: space-between;
  align-items: center;
}

.userButton {
  color: rgba(255, 255, 255, 0.705);
  font-size: 1.5em;
  margin: 0.5em;
}

.menuButton {
  color: rgba(255, 255, 255, 0.705);
  margin: 0.5em;
  background-color: transparent;
  border: none;
  padding: 0;
}

.menuButton:hover {
  background-color: transparent;
}

.menuButton:active {
  background-color: transparent !important;
}

.menuButton > i {
  font-size: 1.5em;
}

.offcanvas-header {
  background-color: rgb(255, 244, 230);
  height: 2.5rem;
}

.offcanvas {
  background-color: rgba(255, 255, 255, 0.705);
  width: 11em !important;
}

.posDescripcion {
  height: 3em;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
}

.posDescripcion-content {
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: rgb(36, 38, 39);
  border: 1px solid rgba(255, 173, 79, 0.705);
}

.posDescripcion-content > p {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.705);
}

/* /////////////////////MAIN DISPLAY////////////////////// */
.mainDisplay {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  align-items: flex-start;
  /* ACTIVAR BORDE */
  /* border: 1px solid white; */
  height: 12.5em;
  /* border: 1px solid yellow; */
}

.mainDisplay > .mainDisplay-content {
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: rgb(36, 38, 39);
  /* border: 1px solid white; */
  width: 80%;
  background-color: rgb(95, 94, 89);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 8em;
  /* border: 1px solid red; */
}

/* COLUMNA EN LA QUE ESTOY TRABAJANDO ACTUALMENTE */
.firstRow {
  margin-top: 0.3em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
}

/* BOTON SUCURSAL Y BOTON STOCK */
.sucursalButton,
.stockButton {
  background-color: rgb(36, 38, 39);
  color: rgba(255, 255, 255, 0.705);
  margin: 1em;
  border: none;
}

.sucursalButton {
  width: 25%;
}

.sucursalButton:focus,
.stockButton:focus {
  box-shadow: none;
}

.stockButton {
  width: 25%;
}

/* GRUPO DE BOTON CODIGO CON BOTON DE LUPA */

.grupoCodigoTxt {
  width: 25%;
}

.buttCodigo,
.txtCodigo {
  margin: 1em;
}

/* INPUT TEXTO CODIGO */

.txtCodigo {
  background-color: rgb(36, 38, 39);
  color: rgba(255, 255, 255, 0.705);
}

.txtCodigo:focus {
  border: none;
  box-shadow: none;
  background-color: rgb(36, 38, 39);
  color: rgba(255, 255, 255, 0.705);
}

.txtCodigo::placeholder {
  color: rgba(255, 255, 255, 0.705);
}

/* BOTON LUPA CODIGO */
.codeSearchIc {
  color: rgb(36, 38, 39);
}

/* INPUT TEXT DE COLOR */

.txtColor {
  margin: 1em;
  width: 25%;
  background-color: rgb(36, 38, 39);
  color: rgba(255, 255, 255, 0.705);
}

.txtColor:focus {
  background-color: rgb(36, 38, 39);
  color: rgba(255, 255, 255, 0.705);
  box-shadow: none;
  border: none;
}

.txtColor::placeholder {
  color: rgba(255, 255, 255, 0.705);
}

/* SEGUNDA FILA */

.secondRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.filtroButton {
  margin: 1em;
  width: 75%;
  background-color: rgb(36, 38, 39);
  color: rgba(255, 255, 255, 0.705);
  border: none;
  height: 55%;
  box-shadow: none !important;
}

.resetButton {
  height: 55%;
  width: 10%;
  background-color: rgb(36, 38, 39);
  border: none;
}

.resetButton:focus {
  border: none;
}

.resetButton:hover {
  background-color: rgb(36, 38, 39);
}

.resetButton:active {
  background-color: rgba(36, 38, 39, 0.716) !important;
}

/* PRODU-DISPLAY */

/* CONTENEDOR PADRE ESTATICO */

.produDisplay-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  font-weight: 500;
  font-size: 1.2em;
}

.mainContainer-fixed {
  background-color: rgb(36, 38, 39);
  width: 80%;
  height: 2em;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 173, 79, 0.705);
}

.mainContainer-fixed > .rightContainer-fix,
.mainContainer-fixed > .leftContainer-fix {
  color: rgb(204, 204, 204);
}

/* CONTENEDOR PADRE DINAMICO JS */

.produDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  /* border: 1px solid red; */
}

/* MAIN DISPLAY */

.mainContainer {
  background-color: rgb(85, 90, 94);

  width: 80%;
  height: 4em;
  align-items: center;
  border-radius: 5px;
  /* border: 1px solid red; */
}

/* IZQUIERDA PADRE */
.leftContainer {
  width: 80%;
  color: white;
  /* border: 1px solid red; */
}

/* DERECHA PADRE */
.rightContainer {
  width: 20%;
  color: white;
  /* border: 1px solid red; */
}

.right_child {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
